<ion-view title="Dashboard">
    <ion-nav-buttons side="right">
	      <a ui-sref="menu.trackableItemSearch" id="nutrition-button9" class="button button-stable button-clear icon ion-ios-plus-outline"></a>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="trackableItem in userInfo.trackableItems" ng-click="goToGraph(trackableItem)">
            	<img src="{{trackableItem.image}}">       
                <h2>{{trackableItem.name}}</h2>
                <p>{{trackableItem.progress}}/{{trackableItem.goal || 0}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
