<ion-view title="Nutrition">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
	    <ion-list>
	        <ion-item class="item-thumbnail-left" ng-repeat="nutritionItem in getNutrition()">
          <img src="{{nutritionItem.image}}">
	            <h2>{{nutritionItem.name}}</h2>
	            <p>Cal: {{nutritionItem.energy}}</p>
	            <p>Protein: {{nutritionItem.protein}}</p>
	            <p>Fat: {{nutritionItem.fat}}</p>
	            <p>Carbs: {{nutritionItem.carbohydrates}}</p>
	        </ion-item>	        
	    </ion-list>
	    <a ui-sref="menu.nutritionSearch" id="nutrition-button9" class="button button-stable  button-block icon ion-ios-plus-outline">New Item</a>
    </ion-content>
</ion-view>
