<ion-view title="Workout Creation">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="workout-name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="e.g. Chest Day">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.exerciseSearch">
                <img>
                <h2>add new item</h2>
                <p></p>
            </ion-item>
        </ion-list>
        <a ui-sref="menu.workouts" id="workoutCreation-button10" class="button button-stable  button-block icon ion-android-done">Done</a>
    </ion-content>
</ion-view>